<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>XXXManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
      <servlet-name>carouselServlet</servlet-name>
      <servlet-class>com.lanou.servlet.CarouselServlet</servlet-class>
      <multipart-config>
         <max-file-size>10485760</max-file-size>
         <max-request-size>20971520</max-request-size>
         <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>carouselServlet</servlet-name>
      <url-pattern>/userbefore/carousel</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>productServlet</servlet-name>
      <servlet-class>com.lanou.servlet.ProductServlet</servlet-class>
      <multipart-config>
         <max-file-size>10485760</max-file-size>
         <max-request-size>20971520</max-request-size>
         <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>productServlet</servlet-name>
      <url-pattern>/userbefore/product</url-pattern>
  </servlet-mapping>
  
  <filter>
     <filter-name>encondingFilter</filter-name>
     <filter-class>com.lanou.Filter.EncondingFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>encondingFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
     <filter-name>loginFilter</filter-name>
     <filter-class>com.lanou.Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>loginFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>